.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fdf1f3;
    color: #333;
}

.page-title{
    margin: 0;
    font-size: 32px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333;
}

.nav-bar{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar-item a{
    font-family:'Poppins', Arial, Helvetica, sans-serif;
    color: #555;
    text-decoration: none;
    margin-left: 15px; 
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-bar-item a:hover{
    background-color: #007bff;
    color: white;
}