.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.page-title{
    margin: 0;
    font-size: 30px;
    letter-spacing: 2px;
}

.nav-bar{
    font-size: 20px;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-bar-item a{
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px; 
    letter-spacing: 1px;
}